@model IEnumerable<Product>

@{
	ViewData["Title"] = "Home Page";
}

<div class="row pb-3">
	@foreach (var product in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid black; border-radius: 5px;">
					<div class="card p-3">
						<img src="@(product.ImageUrl)" style="aspect-ratio: 3/4;" class="card-img-top rounded" />
						<div class="pl-1 pt-2">
							<div class="card-title text-primary h5 text-white">@product.Title</div>
							<div class="card-title text-white">@product.Author</div>
						</div>
						<div class="pl-1">
							<div class="text-white"><span class="text-white h6">List Price:</span> <strike> Rs. @product.Price.ToString("0.00") </strike> </div>
							<div class="text-white"><span class="text-white h6">As low as</span> Rs. @product.ListPrice.ToString("0.00") </div>
						</div>
						<a class="btn btn-primary m-2" asp-action="Details" asp-route-id="@product.Id" >Details</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>