@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
	<div class="col-md-6">
		<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<div class="row">
				<h2>Create a new account.</h2>
				<hr />
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="mb-3">
					<label asp-for="Input.Email">Email</label>
					<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Input.Name">Name</label>
					<input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="John Doe" />
					<span asp-validation-for="Input.Name" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Input.PhoneNumber"></label>
					<input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phone" aria-required="true" placeholder="+977 09862655181" />
					<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Input.State"></label>
					<input asp-for="Input.State" class="form-control" autocomplete="username" aria-required="true" placeholder="Bagmati" />
					<span asp-validation-for="Input.State" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Input.City"></label>
					<input asp-for="Input.City" class="form-control" autocomplete="username" aria-required="true" placeholder="Kathmandu" />
					<span asp-validation-for="Input.City" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Input.StreetAddress"></label>
					<input asp-for="Input.StreetAddress" class="form-control" autocomplete="street-address" aria-required="true" placeholder="123 St, X Tole" />
					<span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Input.Role"></label>
					<select class="form-select" asp-for="Input.Role" asp-items="@(Model.Input.RoleList)">
						<option selected disabled>Select Role</option>
					</select>
					<span asp-validation-for="Input.Role" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6" id="CompanyContainer">
					<label asp-for="Input.CompanyId"></label>
					<select class="form-select" asp-for="Input.CompanyId" asp-items="@(Model.Input.CompanyList)">
						<option selected disabled>Select Company</option>
					</select>
					<span asp-validation-for="Input.CompanyId" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Input.Password">Password</label>
					<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Input.ConfirmPassword">Confirm Password</label>
					<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
			</div>
		</form>
	</div>
	<div class="col-md-6 col-md-offset-2">
		<section>
			<h3>Use another service to register.</h3>
			<hr />
			@{
				if ((Model.ExternalLogins?.Count ?? 0) == 0)
				{
					<div>
						<p>
							There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
								article
								about setting up this ASP.NET application to support logging in via external services
							</a>.
						</p>
					</div>
				}
				else
				{
					<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
						<div>
							<p>
								@foreach (var provider in Model.ExternalLogins!)
								{
									<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
								}
							</p>
						</div>
					</form>
				}
			}
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
				$(document).ready(function(){
					$("#CompanyContainer").hide();
					$('#Input_Role').change(function(){
						var selection = $("#Input_Role Option:Selected").text();
						console.log(selection)
						if(selection != "Company"){
							$("#CompanyContainer").hide();
						}
						else {
							$("#CompanyContainer").show();
						}
					})
				})

	</script>
}
